* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: #222222;
}

body {
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  background: linear-gradient(to bottom, #bfd255 0%, #8eb92a 45%, #72aa00 100%);
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.logo {
  width: 1.1rem;
  height: 1.1rem;
  margin-left: 0.8rem;
}
@media (max-width: 657px) {
  .logo {
    width: 1.6rem;
    height: 1.6rem;
  }
}

.nav {
  display: flex;
  padding: 0.5rem 0rem;
  align-items: center;
  width: 100%;
}

.nav--mobile {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: linear-gradient(to bottom, #bfd255 0%, #8eb92a 45%, #72aa00 100%);
}
.displayMenu {
  display: flex !important;
}
.search--form {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.search--form input:nth-of-type(1) {
  border: none;
  border-radius: none;
  padding: 0.3rem;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  font-size: 0.875rem;
}

.search--form input:nth-of-type(1):focus {
  background: #fafafa;
  border-color: #999999;
  outline: none;
}

.search--form input:nth-of-type(2) {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 0.4rem 1.5rem;
  font-size: 0.9rem;
  border: none;
  position: relative;
  left: -1rem;
  background-color: #008cba;
  border-color: #007095;
  color: #ffffff;
  transition: background-color 300ms ease-out;
}
.search--form input:nth-of-type(2):hover {
  background-color: #007095;
}

.post--nav {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  width: 100%;
  flex-wrap: wrap;
}
.post--nav--mobile {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(to bottom, #bfd255 0%, #8eb92a 45%, #72aa00 100%);
}
.post--nav li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
  position: relative;
}
.post--nav--mobile li {
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  padding: 0.8rem 1rem;
  background: linear-gradient(to bottom, #bfd255 0%, #8eb92a 45%, #72aa00 100%);
}
.dropdown {
  display: none;
  position: absolute;
  z-index: 10;
  top: 1.9rem;
}
.post--nav li:hover .dropdown {
  display: block;
}

.post--nav--mobile li:hover .dropdown {
  display: block;
}
.post--nav li:hover .dropdown li {
  list-style: none;
  color: white;
  padding: 0.8rem 0.4rem;
  width: 7.5rem;
  font-size: 0.8rem;
  background: linear-gradient(to bottom, #bfd255 0%, #8eb92a 45%, #72aa00 100%);
}
.post--nav--mobile li:hover .dropdown li {
  list-style: none;
  color: white;
  padding: 0.8rem 0.4rem;
  width: 7.5rem;
  font-size: 0.8rem;
  background: linear-gradient(to bottom, #bfd255 0%, #8eb92a 45%, #72aa00 100%);
}

.post--nav li:last-of-type {
  margin-left: auto;
  margin-right: 1rem;
}
@media (max-width: 900px) {
  .post--nav li:last-of-type {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
.post--nav li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 500;
  font-size: 0.8rem;
}
.post--nav--mobile li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 500;
  font-size: 0.8rem;
}

.post--nav li img {
  width: 0.8rem;
  height: 0.8rem;
}

.post--nav--mobile li img {
  width: 0.8rem;
  height: 0.8rem;
  transform: rotate(270deg);
}
.menu {
  display: none;
  cursor: pointer;
}
.menu p {
  text-transform: uppercase;
  font-size: 1rem;
  color: white;
  display: inline;
}

@media (max-width: 674px) {
  .menu {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: end;
    gap: 0.5rem;
    margin-left: auto;
    padding: 0.8rem 1rem;
  }
  .nav {
    display: none;
  }
}

section {
  margin: 0.5rem 10rem;
}

@media (max-width: 1200px) {
  section {
    margin: 0.5rem 1rem;
  }
}
/* main section  */
.main {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main p {
  font-size: 2.5rem;
  margin: 0.3rem 0rem;
}

.postcode--form {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 2px;
  border-color: orange;
  padding: 1.25rem 2rem 2.5rem 1.25rem;
  background: #ffcc99;
  border-radius: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.postcode--form form {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: start;
  flex-wrap: wrap;
}

.postcode--form form input:nth-of-type(1) {
  border: none;
  border-radius: none;
  padding: 0.5rem;
  width: 12rem;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  font-size: 0.875rem;
  width: 88%;
  font-size: 0.9rem;
}
.postcode--form form input:nth-of-type(1)::placeholder {
  color: #8f8e8efd;
  font-weight: 500;
}
.postcode--form form input:nth-of-type(1):focus {
  background: #fafafa;
  border-color: #999999;
  outline: none;
}

.postcode--form form input:nth-of-type(2) {
  width: 12%;
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 1rem;
  background-color: #008cba;
  border-color: #007095;
  color: #ffffff;
  transition: background-color 300ms ease-out;
}

.postcode--form form input:nth-of-type(2):hover {
  background-color: #007095;
}

.geo {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  position: relative;
  left: 3rem;
  flex-wrap: wrap;
}

.geo p {
  font-size: 1.2rem;
  font-weight: lighter;
  color: #333333;
}
@media (max-width: 657px) {
  .geo {
    position: relative;
    left: 0rem;
  }

  .geo p {
    text-align: end;
  }
}

.geo button {
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 1rem;
  background-color: #008cba;
  border-color: #007095;
  color: #ffffff;
  transition: background-color 300ms ease-out;
}

.geo button:hover {
  background-color: #007095;
}

.booking {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  text-decoration-color: #222222;
  color: #008cba;
  font-size: 1.1rem;
}

/* ads section  */
.ads {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.ads img {
  margin-left: auto;
  cursor: not-allowed;
  user-select: none;
  width: 80%;
}

/* popular section  */
.popular {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: -0.5rem;
}

.popular p {
  font-size: 2.2rem;
  margin: 0.3rem 0rem;
}

.all--posts {
  display: flex;
  gap: 0.7rem;
  align-items: end;
  padding: 0rem 0.5rem;
  flex-wrap: wrap;
}
.large--size {
  font-size: 1.7rem;
}
.medium--size {
  font-size: 1.1rem;
  padding: 0rem !important;
}

.small--size {
  font-size: 1rem;
  padding: 0rem !important;
}
.default--size {
  font-family: "Open Sans", sans-serif;
  list-style: none;
  padding: 8px 0rem;
  color: #008cba;
  background-color: #dddddd;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.default--size:hover {
  background-color: #008cba;
  color: #dddddd;
}

/* CheckMyPostcode  section  */
.CheckMyPostcode {
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #f2f2f2;
  color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CheckMyPostcode p {
  font-family: inherit;
  text-align: center;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}

.CheckMyPostcode p span {
  font-weight: 700;
  color: #333333;
}

.footer {
  background-color: #333333;
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  padding: 1rem 12rem;
  margin: 0 !important;
}
@media (max-width: 674px) {
  .footer {
    padding: 1rem 1rem;
  }
}
.footer ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem 0rem;
}

.footer ul li {
  list-style: none;
  font-size: 0.9rem;
  color: #ffffff;
}

.attr {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  padding: 1rem 0rem;
}
.attr p {
  font-size: 1rem;
  text-align: center;
}

.attr p a {
  text-decoration: none;
  color: #008cba;
}
